@use './repoCard';
@use './dropdown';

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 2rem;
    box-sizing: border-box;
    &__form {
        display: flex;
        gap: 2em;
    }
}

.index {
    padding: 3rem 3em;
    position: relative;
}

.repo-list {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 2em;
}

.linear-progress-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.circular-progress-container {
    height: 5em;
}

.error-message {
    color: red;
}