@use './repoCard';
@use './dropdown';

.index {
    padding: 0 3em;
}

.repo-list {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 2em;
}

.linear-progress-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.circular-progress-container {
    height: 5em;
}

.error-message {
    color: red;
}